<!-- <div class="container w-25">
    <form (submit)="ss()" [formGroup]="userData">
        <div class="mb-3">
            <label>Firstname <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="fname">
            <p class="text-danger" *ngIf="!userData.get('fname').valid && userData.get('fname').touched">Firstname is
                required
            </p>
        </div>
        <div class="mb-3">
            <label>Lastname <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="lname">
            <p class="text-danger" *ngIf="!userData.get('lname').valid && userData.get('lname').touched">Lastname is
                required / Alphanumeric / Min 3 / Max 10
            </p>
        </div>
        <div class="mb-3">
            <label>Email <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="mail">
            <p class="text-danger" *ngIf="!userData.get('mail').valid && userData.get('mail').touched">Invalid Email</p>
        </div>
        <div class="mb-3">
            <label>Password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" formControlName="password">
            <p class="text-danger" *ngIf="!userData.get('password').valid && userData.get('password').touched">Invalid Password</p>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" [disabled]="!userData.valid">
        </div>
    </form>
</div> -->
<div class="container w-25">
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group m-2">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group m-2">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group m-2">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group m-2">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group m-2">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>