<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Price</th>
                <th scope="col">Seat No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>23/01/2022</td>
                <td>Ai 326</td>
                <td>Rs 28,000</td>
                <td>6K</td>
                <div class="form-btn">
                    <button class="btn btn-primary mx-1">View</button>
                    <button class="btn btn-success mx-1">Download</button>
                    <button class="btn btn-danger mx-1">Cancel</button>
                </div>
            </tr>
            <tr>
                <td>23/02/2022</td>
                <td>Ai 965</td>
                <td>Rs 17,000</td>
                <td>3B</td>
                <div class="form-btn">
                    <button class="btn btn-primary mx-1">View</button>
                    <button class="btn btn-success mx-1">Download</button>
                    <button class="btn btn-danger mx-1">Cancel</button>
                </div>
            </tr>
            <tr>
                <td>05/03/2022</td>
                <td>Ai 787</td>
                <td>Rs 23,850</td>
                <td>8P</td>
                <div class="form-btn">
                    <button class="btn btn-primary mx-1">View</button>
                    <button class="btn btn-success mx-1">Download</button>
                    <button class="btn btn-danger mx-1">Cancel</button>
                </div>
            </tr>
        </tbody>
    </table>
</div>